[submodule "voting-server"]
	path = voting-server
	url = https://github.com/LouYu2015/voting-server.git
[submodule "voting-client"]
	path = voting-client
	url = https://github.com/LouYu2015/voting-client.git
[submodule "voting-website-ticket-generator"]
	path = voting-website-ticket-generator
	url = https://github.com/LouYu2015/voting-website-ticket-generator
